@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

/* Smooth scroll */
html {
  scroll-behavior: smooth;
}

/* Header 1 all same font */
h1 {
  font-family: 'Poppins', sans-serif;
  font-weight: 700;
  font-size: 2.5rem;
  color: var(--foreground);
}

/* Header 2 all same font */
h2 {
  font-family: 'Poppins', sans-serif;
  font-weight: 600;
  font-size: 2rem;
  color: var(--foreground);
}

/* p tags */
p {
  font-family: 'Poppins', sans-serif;
  font-weight: 400;
  font-size: 1rem;
  color: var(--foreground);
}

